/* Styles */
#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 550px;
  margin: 0 auto;
}

.lanes {
  list-style-type: none;
}

.lanes>li {
  float:left;
  margin-right: 60px;
}

button[disabled] {
  cursor: not-allowed;
}
